*{
    margin: 0;
    padding: 0;
}
h5 a{
    text-decoration: none;
    color: black;
}
.link{
    text-decoration: none;
    color: gray;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
.sign{
    background: url("../img/youyh2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
form{
   margin-top: 80px;
}
.info{
    padding: 60px;
    background: white;
    border-radius: 20px;
}
#navbarSupportedContent{
    line-height: 3;
}
.col-md-4.col-lg-3.col-xl-3.mx-auto.mt-5 i{
    font-size: 25px;
    padding-left: 5px;
}
.fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;

    /* border: 3px solid #73AD21; */
  }
