*{
    margin: 0;
    padding: 0;
}
h5 a{
    text-decoration: none;
    color: black;
}
.link{
    text-decoration: none;
    color: gray;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
.corner{
    background: url("../img/cornery.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card-body a{
    background: #362578;
    color: white;
}
.col-md-3{
    padding-top: 10px;
}
.modal-body .text{
    display: flex;
    justify-content: space-between;
}
.modal-body .text p{
    font-size: 16px;
    margin-right: 20px;
}
.modal-body .image-modal{
    margin-left: 120px;
    border-radius: 70%;
}
#navbarSupportedContent{
    line-height: 3;
}
.modal-footer a{
    text-decoration: none;
    padding: 8px 10px;
    background: #362578;
    color: white;
    border-radius: 8px;
}
.modal-footer a:hover{
    color: white;
    background: #362578;
}
#staticBackdropLabel{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #362578;
}
.form form{
    width: 70%;
    padding-top: 30px;
    padding-bottom: 10px;
}
.col-md-3{
    padding-bottom: 20px;
}
.col-md-4.col-lg-3.col-xl-3.mx-auto.mt-5 i{
    font-size: 25px;
    padding-left: 5px;
}


